h1 API Reference

h3 Search the Site

  div 
    <script>(function() {var cx = '014805732509183961431:mk2unvt7wf8';var gcse = document.createElement('script');gcse.type = 'text/javascript';gcse.async = true;gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(gcse, s);})();</script><gcse:search></gcse:search>


h2 Modules

p.
  Think of modules as pre-fab building blocks, like legos built on top
  of Mithras resource handlers.  They're shortcuts for doing complex
  things.

include ./modules.jade

h2 Resource Handlers

p.
  Resource handlers translate declarative resources into actions taken
  on AWS and on your instances.

include ./handlers.jade

h2 Core Functions 

p.
  Core functions include AWS manipulations, utility functions, etc.

include ./core.jade

h2 Object Formats

p.
  The formats of various objects returned from <code>aws.foo()</code> core functions can be found here.

include ./objects.jade

h2 Examples

p.
  These examples demonstrate uses of Mithras.

include ./examples.jade

