div.container-fluid
  div.row
    div.col-md-4
      ul.list-unstyled
        li: a(href='core_channels') channels
        li: a(href='core_core') core
        li: a(href='core_elasticache') elasticache
        li: a(href='core_elb') elb
        li: a(href='core_exec') exec
        li: a(href='core_filepath') filepath
        li: a(href='core_fs') fs
        li: a(href='core_goroutines') goroutines
        li: a(href='core_iam') iam
    div.col-md-4
      ul.list-unstyled
        li: a(href='core_instance') instance
        li: a(href='core_log') log
        li: a(href='core_network') network
        li: a(href='core_os') os
        li: a(href='core_rds') rds
        li: a(href='core_region') region
        li: a(href='core_remote') remote
        li: a(href='core_require') require
        li: a(href='core_route53') route53
    div.col-md-4
      ul.list-unstyled
        li: a(href='core_routetables') routetables
        li: a(href='core_s3') s3
        li: a(href='core_secgroup') secgroup
        li: a(href='core_subnet') subnet
        li: a(href='core_tag') tag
        li: a(href='core_time') time
        li: a(href='core_user') user
        li: a(href='core_vpc') vpc
        li: a(href='core_web') web
