div.container-fluid
  div.row
    div.col-md-4
      ul.list-unstyled
        li: a(href='core_core.html') core
        li: a(href='core_elasticache.html') elasticache
        li: a(href='core_elb.html') elb
        li: a(href='core_exec.html') exec
        li: a(href='core_filepath.html') filepath
        li: a(href='core_fs.html') fs
        li: a(href='core_iam.html') iam
        li: a(href='core_instance.html') instance
        li: a(href='core_keypairs.html') keypairs
        li: a(href='core_log.html') log
    div.col-md-4
      ul.list-unstyled
        li: a(href='core_network.html') network
        li: a(href='core_os.html') os
        li: a(href='core_rds.html') rds
        li: a(href='core_region.html') region
        li: a(href='core_remote.html') remote
        li: a(href='core_require.html') require
        li: a(href='core_route53.html') route53
        li: a(href='core_routetables.html') routetables
        li: a(href='core_s3.html') s3
    div.col-md-4
      ul.list-unstyled
        li: a(href='core_secgroup.html') secgroup
        li: a(href='core_sns.html') sns
        li: a(href='core_subnet.html') subnet
        li: a(href='core_tag.html') tag
        li: a(href='core_time.html') time
        li: a(href='core_user.html') user
        li: a(href='core_vpc.html') vpc
        li: a(href='core_web.html') web
        li: a(href='core_workers.html') workers
