h1 #{ title }

h2 General

p See <a href="usage.html">Installation & Usage</a> to get Mithras installed on your system.
 
p Then, jump into <a href="quickstart.html">Quickstart</a> to get up and running.

p For a more in-depth walkthrough, see <a href="guide1.html">The Guide</a>.
 
p Read the API <a href="api.html">Reference</a> to learn more.

p Or, check out the <a href="faq.html">FAQ</a>


