div.container-fluid
  div.row
    div.col-md-4
      ul.list-unstyled
        li: a(href='example_asg.html') asg
        li: a(href='example_intermediate.html') intermediate
    div.col-md-4
      ul.list-unstyled
        li: a(href='example_simple.html') simple
        li: a(href='example_site.html') site
    div.col-md-4
      ul.list-unstyled
        li: a(href='example_static.html') static
