div.container-fluid
  div.row
    div.col-md-4
      ul.list-unstyled
        li: a(href='example_asg.html') asg
        li: a(href='example_beanstalk.html') beanstalk
    div.col-md-4
      ul.list-unstyled
        li: a(href='example_intermediate.html') intermediate
        li: a(href='example_simple.html') simple
    div.col-md-4
      ul.list-unstyled
        li: a(href='example_site.html') site
        li: a(href='example_static.html') static
