h1 #{ title }

h3 What does "Mithras" mean?

p In ancient times, people worshipped Mithras.  See the Wikipedia <a href="https://en.wikipedia.org/wiki/Mithraism">article</a>.

h3 This looks a lot like AWS Cloudformation.  How is it different?

p.
  Cloudformation uses JSON to describe AWS resources.  Mithras
  uses <i>Javascript</i>.  That's a pretty huge difference.  With
  Mithras, you can have actual <i>logic</i> in your resource
  definitions.  It makes your configurations waaaay more flexible,
  easier to understand, and easier to maintain.
