div.container-fluid
  div.row
    div.col-md-4
      ul.list-unstyled
        li: a(href='handler_become.html') become
        li: a(href='handler_cache.html') cache
        li: a(href='handler_copy.html') copy
        li: a(href='handler_elasticache.html') elasticache
    div.col-md-4
      ul.list-unstyled
        li: a(href='handler_elb.html') elb
        li: a(href='handler_file.html') file
        li: a(href='handler_git.html') git
    div.col-md-4
      ul.list-unstyled
        li: a(href='handler_iam.html') iam
        li: a(href='handler_instance.html') instance
        li: a(href='handler_rds.html') rds
