div.container-fluid
  div.row
    div.col-md-4
      ul.list-unstyled
        li: a(href='handler_become.html') become
        li: a(href='handler_cache.html') cache
        li: a(href='handler_copy.html') copy
    div.col-md-4
      ul.list-unstyled
        li: a(href='handler_elasticache.html') elasticache
        li: a(href='handler_elb.html') elb
    div.col-md-4
      ul.list-unstyled
        li: a(href='handler_instance.html') instance
        li: a(href='handler_rds.html') rds
