div.container-fluid
  div.row
    div.col-md-4
      ul.list-unstyled
        li: a(href='handler_become.html') become
        li: a(href='handler_cache.html') cache
        li: a(href='handler_copy.html') copy
        li: a(href='handler_elasticache.html') elasticache
        li: a(href='handler_elb.html') elb
        li: a(href='handler_file.html') file
        li: a(href='handler_git.html') git
        li: a(href='handler_iam.html') iam
    div.col-md-4
      ul.list-unstyled
        li: a(href='handler_instance.html') instance
        li: a(href='handler_keypairs.html') keypairs
        li: a(href='handler_log.html') log
        li: a(href='handler_mithras.html') mithras
        li: a(href='handler_network.html') network
        li: a(href='handler_packager.html') packager
        li: a(href='handler_rds.html') rds
        li: a(href='handler_route53.html') route53
    div.col-md-4
      ul.list-unstyled
        li: a(href='handler_s3.html') s3
        li: a(href='handler_scp.html') scp
        li: a(href='handler_secgroup.html') secgroup
        li: a(href='handler_service.html') service
        li: a(href='handler_shell.html') shell
        li: a(href='handler_subnet.html') subnet
        li: a(href='handler_vpc.html') vpc
