div.container-fluid
  div.row
    div.col-md-4
      ul.list-unstyled
        li: a(href='handler_become.html') become
    div.col-md-4
      ul.list-unstyled
        li: a(href='handler_cache.html') cache
