h1 #{ title }

p.lead.text-center AWS Config management for Javascripters

hr

.well
  
  p Lorem Ipsum text

h2 API Reference

h3 Core Functions 
include ./core.jade

h3 Handlers
include ./handlers.jade

hr

