div.container-fluid
  div.row
    div.col-md-4.col-md-offset-2.text-center
      i.fa.fa-bullseye.fa-4x
      p Use Mithras to deploy and configure full-stack applications in AWS, with no agent needed to bootstrap your instances.

    div.col-md-4.text-center
      i.fa.fa-eye.fa-4x
      p Focused squarely on AWS, Mithras makes design choices that make simple AWS tasks easy, including features like explicit dependency declaration and idempotent operations.

    div.col-md-4.col-md-offset-2.text-center
      i.fa.fa-star.fa-4x
      p No callback hell.  (We're looking at you, Node.) Standing on the shoulders of giants, Mithras provides a powerful server-side Javascript environment without callbacks. 

    div.col-md-4.text-center
      i.fa.fa-fighter-jet.fa-4x
      p Mithras presents a simplified interface, reducing the surface area of the AWS SDK to a digestible and easily managed size.

    div.col-md-4.col-md-offset-4.text-center
      i.fa.fa-key.fa-4x
      p Brittle data languages (like YAML) make customizing your configuration totally twisted. Use Mithras and use Javascript. You won't have to jam an unsuitable language to do what's needed for your configuration.

h2 Getting Started

ul
  li See <a href="usage.html">Installation & Usage</a> to get Mithras installed on your system.
  li Then, jump into <a href="quickstart.html">Quickstart</a> to get up and running.
  li For a more in-depth walkthrough, see <a href="guide1.html">The Guide</a>.
  li Read the API <a href="api.html">Reference</a> to learn more.

div.container-fluid
  div.row
    div.col-md-6
      h2 Design
      ul
        li AWS first
        li Javascript DSL
        li Simple (abstract) aws interface
        li Agentless
        li Idempotent
        li Declarative resources
        li Explicit dependencies
        li Immutable infrastructure
    div.col-md-6
      h2 Use Cases
      ul
        li Provisioning
        li Configuration Management
        li App Deployment
        li Continuous Delivery
        li Orchestration

h2 Caveat Emptor

p Sounds pretty nifty, eh? But it's not perfect. If you need enterprise configuration management features, Mithras isn't a good choice. (Not yet, anyway.) If you have the need to manage hosts and resources outside AWS, Mithras probably isn't a good choice. If you love YAML, don't bother with Mithras.

p Finally, Mithras is <b>new</b>. It's currently alpha quality software, with bugs and design choices still being shaken out. Proceed with caution.

p No, really.  There isn't a single test, yet.  As Mithras gets a bit of traction, rest assured, that will get addressed pronto.

p Meantime, your forebearance and your feedback is much appreciated!!

hr

