div.container-fluid
  div.row
    div.col-md-4
      ul.list-unstyled
        li: a(href='objects/autoscalingGroup.html') autoscalingGroup
        li: a(href='objects/autoscalingHook.html') autoscalingHook
        li: a(href='objects/autoscalingLaunchConfig.html') autoscalingLaunchConfig
        li: a(href='objects/beanstalkApplication.html') beanstalkApplication
        li: a(href='objects/beanstalkConfig.html') beanstalkConfig
        li: a(href='objects/beanstalkEnvironment.html') beanstalkEnvironment
        li: a(href='objects/beanstalkVersion.html') beanstalkVersion
        li: a(href='objects/cache.html') cache
        li: a(href='objects/db.html') db
    div.col-md-4
      ul.list-unstyled
        li: a(href='objects/elb.html') elb
        li: a(href='objects/gateway.html') gateway
        li: a(href='objects/iamProfile.html') iamProfile
        li: a(href='objects/iamRole.html') iamRole
        li: a(href='objects/instance.html') instance
        li: a(href='objects/keypair.html') keypair
        li: a(href='objects/queue.html') queue
        li: a(href='objects/region.html') region
        li: a(href='objects/routeTable.html') routeTable
    div.col-md-4
      ul.list-unstyled
        li: a(href='objects/rrs.html') rrs
        li: a(href='objects/securityGroup.html') securityGroup
        li: a(href='objects/sub.html') sub
        li: a(href='objects/subnet.html') subnet
        li: a(href='objects/topic.html') topic
        li: a(href='objects/url.html') url
        li: a(href='objects/vpc.html') vpc
        li: a(href='objects/zone.html') zone
